.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 24px;
    font-size: 14px;
}

.side {
    margin-left: 2em;
}

.top {
    align-self: flex-end;
}

.bottom {
    margin: 24px;
    align-self: center;
}

.player {
    margin: 1em 0 0 0;
}

.player button {
    margin: 0 0 0 1em;
}

.airdrop {
    display: flex;
    flex-direction: row;
    margin: 2em 0 0 0;
}

.airdrop button {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1em;
}

@media (max-width: 767px) {
    .root {
        flex-direction: column;
    }
    .game {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 768px) {
    .side {
        width: 420px;
    }

    :global(html.dark) .side {
        background: #000000;
        color: #ffffff;
    }

    :global(html.light) .side {
        background: #ffffff;
        color: #000000;
    }

    .summary {
        margin: 48px;
    }
    .game {
        width: 450px;
        height: 450px;
    }
}
